.logo_container a{
  text-transform: none;
}

.search-form {
  margin: 6px 0;
}

.search-form{
  width: max-content;
  background-color: #fff;
  border-radius: .25rem;
}

.search-form > #search {
  display: inline-block;
  width: 400px;
  padding: .375rem .75rem;
  font-size: 1rem;
  border: 0;
  margin-left: 2px;
}

.btn{
  cursor: pointer;
}
