.carousel {
  height: 500px;
}

.carousel-image{
  height: 500px;
  width: 100%;
}

.box {
  border: 2px solid gainsboro;
  border-radius: 8px;
  padding: 10px 12px 40px 12px;
  margin-bottom: 20px;
}

.row{
  margin-bottom: 20px;
}

.see-more{
  display: inline-block;
  right: 20px;
  bottom: 15px;
  position: absolute;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

.see-more:hover{
  color: gray;
}
