<div class="container page-content">
  <div style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Tra cứu đơn hàng</h3>
    <h5>Mời bạn nhập mã đơn hàng:</h5>
    <div class="form-group">
      <input class="form-control" style="display: inline-block; width: 200px;" type="text" [(ngModel)]="orderCode"/>
      <button class="btn btn-outline-info" style="display: inline-block; margin-top: -4px;" (click)="search()">Tra cứu
      </button>
    </div>

    <div *ngIf="orderResult" class="box">
      <h4><b>Thông tin khách hàng</b></h4>
      <p><b>Họ và tên:</b> {{orderResult.customer.fullname}}</p>
      <p><b>Địa chỉ:</b> {{orderResult.customer.address}}</p>
      <p><b>Số điện thoại:</b> {{orderResult.customer.phone}}</p>
      <p><b>Email:</b> {{orderResult.customer.email}}</p>
      <br/>

      <h4><b>Thông tin đơn hàng</b></h4>
      <p>
        <b>Tình trạng đơn hàng:</b>
        <ng-container [ngSwitch]="orderResult.orderStatus">
          <span *ngSwitchCase="'0'" style="color: grey; font-weight: bold;">Chưa xác nhận</span>
          <span *ngSwitchCase="'1'" style="color: #f0981c; font-weight: bold;">Chờ giao hàng</span>
          <span *ngSwitchCase="'2'" style="color: blue; font-weight: bold;">Đang giao hàng</span>
          <span *ngSwitchCase="'3'" style="color: green; font-weight: bold;">Đã hoàn thành</span>
          <span *ngSwitchCase="'4'" style="color: red; font-weight: bold;">Đã hủy bỏ</span>
        </ng-container>
      </p>
      <p><b>Phương thức thanh toán: </b>
        <ng-container [ngSwitch]="orderResult.paymentMethod">
          <ng-container *ngSwitchCase="0">Thanh toán tại nhà</ng-container>
          <ng-container *ngSwitchCase="1">Paypal</ng-container>
          <ng-container *ngSwitchCase="2">Bảo kim</ng-container>
        </ng-container>
      </p>
      <p><b>Thời gian đặt hàng: </b> {{orderResult.orderDate | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
      <p><b>Tổng giá tiền: </b> {{orderResult.totalCost | number}}</p>
      <br/>

      <h4><b>Chi tiết đơn hàng</b></h4>
      <table class="table .table-striped .table-hover .table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên hàng hóa</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Giá tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of orderResult.products; let i = index">
          <td>{{i+1}}</td>
          <td>{{product.product.name}}</td>
          <td>{{product.product.price | number}}</td>
          <td>{{product.amount}}</td>
          <td>{{product.product.price * product.amount | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button id="finishOrderButton" type="button" class="btn btn-primary btn-block"
        data-dismiss="modal" data-toggle="modal"
        data-target="#finishOrder" style="visibility: hidden;">Xác nhận
</button>

<div id="finishOrder" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đặt hàng thành công</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding: 30px 20px; font-size: 16px; text-align: center;">
        Chúc mừng bạn đã đặt hàng thành công. Shop sẽ liên hệ để xác nhận với bạn trong thời gian sớm nhất.<br/>
        Bạn có thể theo dõi tình trạng vận chuyển đơn hàng của bạn dựa vào mã đơn hàng.<br/>
        Mã đơn hàng của bạn là: <b>{{orderId}}</b><br/>
        <button class="btn btn-outline-danger" data-dismiss="modal" routerLink="/product-order-search">Xem thông tin đơn hàng</button>
      </div>
    </div>

  </div>
</div>

<loading-indicator *ngIf="showLoadingIndicator"></loading-indicator>
