<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="carousel-image" src="http://www.wallpapersshock.com/download/images-nature-hd-3d-wallpapers-download-2880x1800/" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="http://www.wallpapersshock.com/download/images-nature-hd-3d-wallpapers-download-2880x1800/" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="http://www.wallpapersshock.com/download/images-nature-hd-3d-wallpapers-download-2880x1800/" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<!-- Banner -->

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/phone.jpg)">
          <div class="banner_category">
            <a href="categories.html">Điện thoại</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/tablet.jpg)">
          <div class="banner_category">
            <a href="categories.html">Máy tính bảng</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(./assets/images/accessrioes.png)">
          <div class="banner_category">
            <a href="categories.html">Phụ kiện</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Arrivals -->

<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

          <!-- Product 1 -->

          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>

          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>

          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>
          <div class="product-item">
            <div class="product">
              <div class="product_image">
                <img src="./assets/template/images/product_1.png" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Benefit -->

<div class="benefit">
  <div class="container">
    <div class="row benefit_row">
      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row align-items-center">
          <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
          <div class="benefit_content">
            <h6>Giao hàng miễn phí</h6>
            <p>Suffered Alteration in Some Form</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row align-items-center">
          <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
          <div class="benefit_content">
            <h6>Thanh toán linh hoạt</h6>
            <p>The Internet Tend To Repeat</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row align-items-center">
          <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
          <div class="benefit_content">
            <h6>Đổi trả trong 1 tuần</h6>
            <p>Making it Look Like Readable</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row align-items-center">
          <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
          <div class="benefit_content">
            <h6>Thời gian mở cửa</h6>
            <p>8AM - 09PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

