<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a routerLink="">Home</a>
    </li>
    <li class="active">Quản lý tài khoản</li>
  </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
  <button class="btn btn-sm btn-success" style="float: right; margin-left: 3px" (click)="addNewAccount()"><i
    class="fa fa-plus"
    aria-hidden="true"></i>
  </button>

  <data-table headerTitle="Danh sách điện thoại"
              [items]="currentPageAccounts"
              [itemCount]="accountCount"
              (reload)="reload($event)"

              [limit]="pageLimit"
              [indexColumn]="false"
  >
    <data-table-column
      [header]="'Tên đăng nhập'"
      [width]="'25%'">
      <ng-template #dataTableCell let-item="item">
        <ng-container *ngIf="!item.isAddNew">{{item.userName}}</ng-container>
        <ng-container *ngIf="item.isAddNew">
          <input type="text" class="field" [(ngModel)]="item.userName"/>
        </ng-container>
      </ng-template>
    </data-table-column>
    <data-table-column
      [header]="'Mật khẩu'"
      [width]="'25%'">
      <ng-template #dataTableCell let-item="item">
        <input class="field" type="text" *ngIf="item.isModify || item.isAddNew" [(ngModel)]="item.password">
        <ng-container *ngIf="!item.isModify && !item.isAddNew">Đã mã hóa</ng-container>
      </ng-template>
    </data-table-column>
    <data-table-column
      [header]="'Quyền hạn'"
      [width]="'25%'">
      <!--<ng-template #dataTableCell let-item="item">-->
        <!--<select class="field" *ngIf="item.isModify || item.isAddNew" [(ngModel)]="item.sRole.id">-->
          <!--<option [ngValue]="'1'">Quản trị viên</option>-->
          <!--<option [ngValue]="'2'">Quản lý</option>-->
          <!--<option [ngValue]="'3'">Nhân viên</option>-->
        <!--</select>-->
        <!--<ng-container *ngIf="!item.isModify && !item.isAddNew">{{item.sRole.name}}</ng-container>-->
      <!--</ng-template>-->
    </data-table-column>
    <data-table-column
      [header]="'Thao tác'"
      [width]="'25%'">
      <ng-template #dataTableCell let-item="item">
        <ng-container *ngIf="item.isModify || item.isAddNew">
          <button class="btn btn-success" (click)="finish(item)"><i class="fa fa-check" aria-hidden="true"></i></button>
        </ng-container>
        <ng-container *ngIf="!item.isModify && !item.isAddNew">
          <button class="btn btn-warning" (click)="edit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="remove(item)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </ng-container>
      </ng-template>
    </data-table-column>
  </data-table>
</div><!-- /.page-content -->
