<div class="product-item">
  <div class="product" routerLink="{{productLink}}">
    <div class="product_image">
      <img src="{{product.productImageUrls[0]}}" alt="">
    </div>
    <div class="favorite favorite_left"></div>
    <div *ngIf="product.promotionRate > 0" class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
      <span>-{{product.promotionRate}}%</span>
    </div>
    <div class="product_info">
      <h6 class="product_name"><a>{{product.name}}</a></h6>
      <div class="product_price" *ngIf="product.promotionRate > 0">{{product.price - product.price * product.promotionRate / 100 | number}}<span>{{product.price | number}}</span></div>
      <div class="product_price" *ngIf="product.promotionRate === 0">{{product.price | number}}</div>
    </div>
  </div>
  <div class="red_button add_to_cart_button"><a (click)="chooseProduct()">mua ngay</a></div>
</div>
