<div>
  <p><b>Bộ lọc</b></p>
  <hr/>
</div>
<div>
  <p><b>Hãng sản xuất</b></p>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <hr/>
  <p><b>Giá tiền</b></p>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="Apple"> Apple</label>
  </div>
</div>
