<div>
  <p><b>Bộ lọc</b></p>
  <hr/>
</div>
<div>
  <p><b>Hãng sản xuất</b></p>
  <div style="display: block;" *ngFor="let manufacture of manufactures;let i = index">
    <label><input type="checkbox" value="{{manufacture.id}}" [checked]="true" (click)="check('m/'+manufacture.id, i+1)"> {{manufacture.name}}</label>
  </div>

  <hr/>
  <p><b>Giá tiền</b></p>
  <div style="display: block;">
    <label><input type="checkbox" value="-1" [checked]="true" (click)="check('p/-1', 0)" [disabled]="checkPrice[0]"> Tất cả</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="0" [checked]="true" (click)="check('p/0', 1)"> Dưới 5 triệu</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="1" [checked]="true" (click)="check('p/1', 2)"> 5 - 7 triệu</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="2" [checked]="true" (click)="check('p/2', 3)"> 7 - 10 triệu</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="3" [checked]="true" (click)="check('p/3', 4)"> 10 - 20 triệu</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="4" [checked]="true" (click)="check('p/4', 5)"> 20 - 30 triệu</label>
  </div>
  <div style="display: block;">
    <label><input type="checkbox" value="5" [checked]="true" (click)="check('p/5', 6)"> Hơn 30 triệu</label>
  </div>
</div>
