<div class="page-content container">
  <h3 style="margin-bottom: 20px;">Giỏ hàng của bạn</h3>
  <ng-container *ngIf="cartItems">
    <div class="row">
      <div class="col-lg-8">
        <div *ngFor="let item of cartItems" class="box">
          <i class="fa fa-times remove-icon" aria-hidden="true" (click)="removeItem(item)"></i>
          <div style="display: flex;">
            <div>
              <img class="item-avatar" src="{{item.productImageUrls[0]}}">
            </div>
            <div>
              <h4><b>{{item.name}}</b></h4>
              <p><b style="margin-right: 10px">Đơn giá: </b>{{item.price | number}} VNĐ</p>
              <input [(ngModel)]="item.quantity" class="form-control" type="number" value="1" min="1" max="10"
                     (ngModelChange)="onItemQuantityChange($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box">
          <p><b style="margin-right: 10px">Số sản phẩm: </b>{{itemsQuantity}}</p>
          <p><b style="margin-right: 10px">Thành tiền: </b> {{totalPrice | number}} VNĐ</p>
        </div>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#myModal">Đặt hàng</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!cartItems">
    <div class="box" style="text-align: center; padding: 35px 20px; background-color: white; border-radius: 8px;">
      <img src="./assets/images/empty-cart.png">
      <h4 style="margin: 20px 0;">Không có sản phẩm nào trong giỏ hàng của bạn</h4>
      <button class="btn btn-outline-danger" routerLink="/">Quay về trang chủ</button>
    </div>
  </ng-container>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông tin khách hàng</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label>Họ và tên: </label>
        <input name="fullName" class="form-control field" type="text" [(ngModel)]="customer.fullname" required>
        <label>Địa chỉ nhận hàng: </label>
        <input name="address" class="form-control field" type="text" [(ngModel)]="customer.address" required>
        <label>Email: </label>
        <input name="email" class="form-control field" type="text" [(ngModel)]="customer.email" required>
        <label>Điện thoại: </label>
        <input name="phone" class="form-control field" type="text" [(ngModel)]="customer.phone" required>
        <label>Phương thức thanh toán: </label><br/>
        <div class="radio">
          <label><input name="options" ng-control="options" type="radio" [value]="0"  [(ngModel)]="paymentMethod">
            Thanh toán khi giao hàng
          </label>
        </div>
        <div class="radio">
          <label><input name="options" ng-control="options" type="radio" [value]="1"  [(ngModel)]="paymentMethod">
            <img class="radio-icon" src="https://cdn.iconscout.com/public/images/icon/free/png-512/paypal-payment-method-gateway-logo-377175cca6c87cb6-512x512.png">
          </label>
        </div>
        <div class="radio disabled">
          <label><input name="options" ng-control="options" type="radio" [value]="2"  [(ngModel)]="paymentMethod">
            <img class="radio-icon" src="https://static.ybox.vn/2016/03/05/baokim.jpg">
          </label>
        </div>
        <br/>
        <!---->
        <!--<select class="form-control field" [(ngModel)]="paymentMethod">-->
          <!--<option value="0"><img src="https://cdn.iconscout.com/public/images/icon/free/png-512/paypal-payment-method-gateway-logo-377175cca6c87cb6-512x512.png">-->
            <!--Thanh toán khi giao hàng</option>-->
          <!--<option value="1">Paypal</option>-->
          <!--<option value="2">Bảo kim</option>-->
        <!--</select>-->
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="paymentMethod === 0">
          <button type="button" class="btn btn-primary btn-block"
                  data-dismiss="modal" data-toggle="modal"
                  data-target="#finishOrder" (click)="submitOrder()"
                  [disabled]="!customer.fullname || !customer.address || !customer.email || !customer.phone">Xác nhận
          </button>
        </ng-container>
        <ng-container *ngIf="paymentMethod !== 0">
          <button type="button" class="btn btn-primary btn-block"
                  [disabled]="!customer.fullname || !customer.address || !customer.email || !customer.phone"
                  (click)="submitOrder()">Xác nhận
          </button>
        </ng-container>
      </div>
    </div>

  </div>
</div>

<div id="finishOrder" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đặt hàng thành công</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding: 30px 20px; font-size: 16px; text-align: center;">
        Chúc mừng bạn đã đặt hàng thành công. Shop sẽ liên hệ để xác nhận với bạn trong thời gian sớm nhất.<br/>
        Bạn có thể theo dõi tình trạng vận chuyển đơn hàng của bạn dựa vào mã đơn hàng.<br/>
        Mã đơn hàng của bạn là: <b>{{orderId}}</b><br/>
        <button class="btn btn-outline-danger" data-dismiss="modal" routerLink="/product-order-search">Xem thông tin đơn hàng</button>
      </div>
    </div>

  </div>
</div>

<loading-indicator *ngIf="showLoadingIndicator"></loading-indicator>
