.box {
  background-color: #F3F3F3;
  border: 2px solid gainsboro;
  padding: 10px 12px;
  margin-bottom: 10px;
}

p{
  color: black;
  font-size: 14px;
}

.item-avatar{
  margin-right: 20px;
  width: 120px;
  height: 120px;
}

.remove-icon{
  float: right;
  cursor: pointer;
}

.form-control{
  width: 200px;
}

.field{
  width: 100%;
  margin-bottom: 20px;
}

label{
  font-weight: bold;
}

button{
  cursor: pointer;
}

.modal-dialog{
  max-width: 800px;
}
