<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="product-preview-image" src="{{product.productImageUrls[0]}}" onerror="src='./assets/images/no-image.png'">
      <div style="text-align: center;">
        <b style="font-size: 18px; color: black;">Đánh giá sản phẩm</b>
        <br/>
        <rating [(ngModel)]="userRating" [float]="true" (onLeave)="userLeaveRating()"></rating>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <h2>{{product.name}}</h2>
        <div *ngIf="product?.promotionRate > 0">
          <p class="promotion-price">
            {{product.price - product.promotionRate * product.price / 100 | number}} VNĐ
            <span class="deprecated-price" style="padding-left: 20px;">{{product.price | number}} VNĐ</span>
          </p>
        </div>
        <div *ngIf="product?.promotionRate == 0">
          <p class="promotion-price">
            <span class="normal-price">{{product.price | number}} VNĐ</span>
          </p>
        </div>
      </div>
      <h4>Thông số cơ bản</h4>
      <table class="table table-striped table-hover" style="width: 100%;">
        <thead>
        <th width="30%">Thuộc tính</th>
        <th width="70%">Chi tiết</th>
        </thead>
        <tbody>
        <tr *ngFor="let productProperty of product?.properties">
          <td>{{productProperty.name}}</td>
          <td>{{productProperty.detail}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-block btn-primary" (click)="chooseProduct()">Thêm vào giỏ hàng</button>
    </div>
  </div>
  <ng-container *ngIf="product.detail != null || product.detail != undefined">
      <div style="margin-top: 100px; text-align: center;">
        <h4>Thông tin chi tiết</h4>
        <div [froalaView]="product.detail"></div>
      </div>
  </ng-container>  
  <ng-container *ngIf="recommendProducts != null">
    <div class="row" style="margin-top: 100px;">
      <div class="col">
        <div class="box">
          <h4 style="margin-left: 20px; color: red;">Có thể bạn thích</h4>        
          <app-product-list [products]="recommendProducts"></app-product-list>            
        </div>
      </div>
    </div>
  </ng-container>
  
<share-button button="facebook" text="Share" [showText]="true"></share-button>
<share-button button="twitter" text="Tweet" [showText]="true"></share-button>
<share-button button="pinterest" text="pin"></share-button>
</div>